:root{
    --white-color:#fafafa;
    --btn-color:#da4445;
    --green:#00fe67;
    --bac:#ffff;
}
body{
    background-color: var(--bac);
   
}


@media (max-width:477px) {
  .navbar-nav {
    --bs-nav-link-padding-x: 0;
    --bs-nav-link-padding-y: 0.5rem;
    --bs-nav-link-font-weight: ;
    --bs-nav-link-color: var(--bs-navbar-color);
    --bs-nav-link-hover-color: var(--bs-navbar-hover-color);
    --bs-nav-link-disabled-color: var(--bs-navbar-disabled-color);
    display: flex;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0 ;
    list-style: none;
    flex-direction: column !important;
    align-items: center;
}
.navbar-nav a{
  margin: 12px 0 !important;
}
}
.swiper-pagination-bullet-active {
    opacity: var(--swiper-pagination-bullet-opacity, 1);
    background: var(--white-color) !important;
    border: 1px solid var(--btn-color);
}
.swiper-pagination-bullet {
    width: var(--swiper-pagination-bullet-width, var(--swiper-pagination-bullet-size, 8px));
    height: var(--swiper-pagination-bullet-height, var(--swiper-pagination-bullet-size, 8px));
    display: inline-block;
    border-radius: var(--swiper-pagination-bullet-border-radius, 50%);
    background: var(--btn-color) !important;
    opacity: var(--swiper-pagination-bullet-inactive-opacity, .10);
}
.btn button{
    background-color: var(--btn-color);
    padding: 10px 30px;
    outline: none;
    color: var(--white-color);
    border: none;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}
.btn2 button{
    background-color: var(--green);
    padding: 10px 30px;
    outline: none;
    color: var(--white-color);
    border: none;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}
.btn3 button{
    background-color: #fff !important;
    padding: 10px 30px;
    outline: none;
    color: black;
    border: 2px solid #ddd;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}